<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="/static/img/touch/apple-touch-icon.png">

    <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    <!--
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    -->

    <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
    <!--
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
    -->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css?v004">
    <script src="/static/js/vendor/modernizr-2.6.1.min.js"></script>
</head>
<body>
    <header id="main">
        <a id="nav-logo" class="ir" href="#">Cyclee</a>
        <nav id="header" class="clearfix" >
            <a id="nav-notes" class="nav-page toggle hidden" href="#"></a><a id="nav-addnote" class="nav-page toggle" href="#"><em class="entypo">&#59168;</em>Add Note</a><a id="nav-ride" class="nav-page toggle" href="#">Ride</a>
        </nav>
        <span class="nav-backhome">&#59229;</span>
    </header>
    <section id="splash" >
        <img alt="Cyclee" src="/static/img/cyclee-logo@3x.png" />
    </section>

    <div id="wrap">

        <nav id="mapnav" class="clearfix" >
            <a id="nav-notesmap" class="entypo" href="#">&#127758;<small>Notes Map</small></a>
        </nav>

        <section id="notes" class="page" >
            <div id ="notesfilter" class="clearfix">
                <section id="filter-type">
                    <header>Notes <h2>All</h2></header>
                    <ul>
                    </ul>
                    <footer>
                        <a id="nav-destinations" class="nav-page" href="#" ><span class="entypo">&#9881;</span> Settings</a>
                        <a id="nav-help" class="nav-page" href="#" ><span class="entypo">&#59140;</span> Help</a>
                        <a href="#" class="logout"><span class="entypo">&#11013;</span> Logout</a>
                    </footer>
                </section>
            </div>
            
            <nav class="hidden clearfix" >
                <form id="search" class="hidden" ><input type="search" placeholder="search notes" /></form>
                <a id="nav-notesfilter" class="entypo btn firsttime" href="#">&hearts;<!-- eye: &#59146; --><!-- list: &#57349; --><small>View</small></a>
                    <div class="notesfilter">
                        <p style="padding:.25em 4px; font-size:1.2em">View Notes <a class="close entypo" href="#" onclick="$('#nav-notesfilter').click();" >&#10006;</a></p>
                        <ul>
                            <li class="active-filter">Route Notes</li>
                            <li>Near Here</li>
                            <li>All Notes</li>
                        </ul>
                        <p>
                            <!-- <a id="nav-settings" class="nav-page" href="#" ><span class="entypo">&#9881;</span> Settings</a> -->
                            <a id="nav-intro" class="nav-page" href="#" ><span class="entypo">&#9881;</span> Settings</a>
                            <a id="nav-help" class="nav-page" href="#" ><span class="entypo">&#59140;</span> Help</a>
                        </p>
                    </div>                
            </nav>
            <section id="notes-stream">
                <article class="template">
                    <a title="username" href="#" ><img src="http://www.gravatar.com/avatar/?d=mm&s=50" /></a>
                    <div class="meta" ></div>
                    <p><strong>Welcome to Cyclee!</strong> No notes found. A network connection is required. <a href="#" onclick="switchpage('destinations');">Set your usual destinations</a> to view info most relevant to your rides. Drop notes for other people who cross your path.</p>
                </article>
            </section>
        </section>

        <section id="addnotemap" class="modal"><!-- map --></section>

        <section id="addnote" class="page" >
            <section id="addnote-container">
                <form id="addnote_carto">
                    <textarea id="noteContent" name="noteContent" class="input-info" rows="4" placeholder="Add Note Text" ></textarea>
                    <a id="tags-toggle" class="closed hidden" ><span class="entypo"><i>&#9656;</i><i style="display:none;">&#9662;</i></span> #hashtags</a>
                    <div id="tags-container" style="display:none;"></div>    
                    <div id="search-hash-container" style="display:none;">
                        <input id="search-hashtags" class="search"  placeholder="search #tags" />
                        <a href="#" class="clearinput entypo" title="press escape">&#10006;</a>
                    </div>
                </form>
                <a href="#" id="post-note" class="post-here btn" >Post Here</a>
            </section>
            <section id="addnote-arrow-container">
                <span id="addnote-arrow"></span>
                <span id="addnote-target"></span>
            </section>
        </section>
        
        <section id="ride" class="page" >
        	<div id="prevRidesList">
        		<div id="prevRidesShow">
        			<a href="#">Show Previous Rides</a>
        		</div>
        		<div id="prevRidesContent" class="hidden">
        			<a href="#">Hide Previous Rides</a>
        			<ul>
        				<!-- li><a href="#">test</a></li>
        				<li><a href="#">test 2</a></li>
        				<li><a href="#">test 3</a></li -->
        			</ul>
        		</div>
        	</div>
            <a id="ridehelp" class="help-link hidden" href="#" >&#59141;</a>
            <section id="triggers">
                <a id="ride-toggle" href="#" ><strong class="entypo" >&#9654;</strong><small>Start Ride</small></a>
                <a id="flag-link" href="#"><strong class="entypo" >&#9873;</strong><small>Flag for Note</small></a>
            </section>
            <div id="clock">0:00:00</div>
            <section id="ride-info">
                <p><span id="ride-count">0 rides</span> // <span id="ride-distance">63.7 miles</span></p>
                <p id="trace-location" class="debug">x,y</p>
                <p id="ride-msg"></p>
            </section>
        </section>

        <section id="settings" class="page">
            <p class="settings-notice notify">Choose a public username.</p>
            <form><label for="username">Username</label><input class="username" placeholder="username" /><button class="username-save">Save</button></form>

            <p id="commutes-notice" class="notify" >Connect based on your most frequent rides.</p> 

            <div class="commute-form"></div>

            <p class="notify" >Feedback & Help</p>
            <p>Send feedback &amp; bugs to <a class="feedback-addy" href="#" target="_blank">Cyclee</a>.</p>
            <p><a href="#" id="nav-help" class="btn nav-page" >Helpful Info &#187;</a></p>
            <p><a href="#" id="nav-intro" class="btn nav-page" >Repeat Intro &#187;</a></p>

        </section>

        <section id="signup" class="page clearfix">
            <div id="joinTitle"><span class="notify" style="margin-top:0;">Join Cyclee</span> or <a href="#">Login</a></div>
            <div id="loginTitle" style="display:none;"><span class="notify" style="margin-top:0;">Login</span> or <a href="#">Join Cyclee</a></div>

            <!-- p class="notify">Register</p -->
            <form class="register clearfix" method="post" action="">
                <label for="id_username">Username<em class="required">*</em></label> <input id="id_username" type="text" class="required" name="username" maxlength="30" />
                <span id="emailField"><label for="id_email">E-mail<em class="required">*</em></label> <input id="id_email" type="email" class="required" name="email" maxlength="75" /></span>
                <label for="id_password1">Password<em class="required">*</em></label> <input id="id_password1" type="password" class="required" name="password1" />
                <span id="password2Field"><label for="id_password2">Password (again)<em class="required">*</em></label> <input id="id_password2" type="password" class="required" name="password2" /></span>
                <p class="error" style="display:none;"></p>
                <button type="submit" >Send</button>
            </form>
        </section>

        <section id="intro" class="page intro">
            <p class="notify">Welcome to Cyclee</p>
            <p style="margin-top:.25em">In a city of millions, Cyclee helps you connect with your two-wheeled&nbsp;neighbors.</p>
            <p class="settings-notice notify">Choose a Public Username</p>
            <form><label for="username">Username</label><input class="username" placeholder="username" /><button class="username-save">Save</button></form>            
        </section>

        <section id="intro2" class="page intro">
            <p class="notify">Set Your Path</p>
            <p style="margin-top:.25em">See the people and notes that cross your usual&nbsp;routes. <span class="entypo hidden" style="color:rgba(0,0,0,0.1);">&#59160; &#59168; &#59160; &#59160; &#128101; <strong class="firsttime">&#59168;</strong> &#59160;</span></p>
            <div class="commute-form"></div>
        </section>

        <section id="intro3" class="page intro">
            <p class="notify">Connect</p>
            <p style="margin-top:.25em">Share your notes with the people you're most likely to see on the street tomorrow.</p>
            <div id="intro3-content"></div>
            <p><a href="#" id="nav-intro4" class="btn nav-page">Last Step &#187;</a></p>
        </section>

        <section id="intro4" class="page intro">
            <div id="intro4-content"></div>
            <p><a href="#" class="btn" onclick="switchpage('notes');">Start Now &#187;</a></p>
        </section>

        <section id="help" class="page">
            <p class="notify">Explore</p>
            <p style="margin-top:.25em">
                View notes and their <em class="entypo">&#59172;</em> locations. View a <a class="entypo" href="#" >&#127758;</a>&nbsp;map of bike shops and more.
                Return home anytime:&nbsp;<a href="#" onclick="$('#nav-logo').click();" class="bkg-blue" style="padding:3px 6px 4px; text-decoration:none;" ><span style="font-family:'entypo'; font-size: 1.1em; line-height:1em; color:#f0f;" >&#59229;</span><img src="img/cyclee-logo-sm.png" style="width:35px; height:13px;" /></a>
            </p>
            <p class="notify">Add a Note</p>
            <p style="margin-top:.25em">Drag the map to position your note. Click <em>Drop Note</em> to submit. <em class="entypo">&#59154;</em>&nbsp;Reply to the people who overlap your rides.</p>
            <p class="notify">Thumbnails</p>
            <p style="margin-top:.25em">Cyclee uses <a href="https://secure.gravatar.com/">Gravatar</a> for rider thumbnails. Use the same email address.</p>
            <p class="notify">Destinations</p>
            <p style="margin-top:.25em"><a class="entypo" href="#" >&#9662;</a> Filter notes based on your usual destinations. </p>
        </section>

        <section id="filters" class="page">
            <p>Coming soon. This will allow you quickly search for info around a particular location, #hashtag, or group of people. Help us develop the feature: <a href="http://github.com/cyclee" >github.com/cyclee</a>.</p>
        </section>

        <section id="lastride" class="page">
            <p>Data about the most recent ride(s)</p>
        </section>

        <section id="stats" class="page">
            <p>Stats about rides by you and the community. Help us develop the feature: <a href="http://github.com/cyclee" >github.com/cyclee</a>.</p>
        </section>

		<section id="destinations" class="page">
		    <p class="notify">Destinations</p>
            <p style="margin-top:.25em">See the people and notes that cross your rides. Set your usual destinations. <span class="entypo hidden" style="color:rgba(0,0,0,0.1);">&#59160; &#59168; &#59160; &#59160; &#128101; <strong class="firsttime">&#59168;</strong> &#59160;</span></p>

			<form class="commute-locations">
                <fieldset class="destination-1" >
                    <label>Destination 1</label>
                    <input class="destination-name" placeholder="Name" type="text" />
                    <input class="destination-address" placeholder="Address or Intersection" type="text" />
                    <input class="destination-location" type="hidden" />
                </fieldset>
                <fieldset class="destination-2" >
                    <label>Destination 2</label>
                    <input class="destination-name" placeholder="Name" type="text" />
                    <input class="destination-address" placeholder="Address or Intersection" type="text" />
                    <input class="destination-location" type="hidden" />
                </fieldset>
                <fieldset class="destination-3" >
                    <label>Destination 3</label>
                    <input class="destination-name" placeholder="Name" type="text" />
                    <input class="destination-address" placeholder="Address or Intersection" type="text" />
                    <input class="destination-location" type="hidden" />
                </fieldset>
                
                <button class="save">Save</button>
                <button class="clear">Clear</button>
			</form>
        </section>
        
    </div><!-- #wrap -->

    <section id="modal"></section><!-- should deprecate -->
    <section id="notesmap" class="modal"></section>
    <section id="locationmap" class="modal"></section>
    <section id="mapchoose" class="modal"></section>
    
    <script src="/static/js/vendor/jquery-1.8.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="/static/js/helper.js"></script>
    <script src="/static/js/vendor/moment.js"></script>

    <script src="/static/js/vars.js"></script>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/commute.js"></script>
    <script src="/static/js/intro.js"></script>
    <script src="/static/js/ride.js"></script>
    <script src="/static/js/note-add-ui.js?v001"></script>
    <script src="/static/js/note-add-db.js"></script>
    <script src="/static/js/hashtags.js"></script>
    <script src="/static/js/note-location.js"></script>
    <script src="/static/js/note-features.js"></script>
    <script src="/static/js/notes-query.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/notes-map.js"></script>
    <script src="/static/js/notes-filter.js"></script>
    <script src="/static/js/utility.js"></script>
    <script src="/static/js/note-add-map.js"></script>
    <script src="/static/js/user-destinations.js"></script>
    <script src="/static/js/init-cyclee.js"></script>

    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.ie.css" />
    <![endif]-->
    <script src="http://libs.cartocdn.com/cartodb.js/v2/cartodb.js"></script>

    <!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing" type="text/javascript"></script> -->
    

</body>
</html>
