<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        
        <meta http-equiv="cleartype" content="on">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" href="/static/img/touch/apple-touch-icon.png">

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <!--
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        -->

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css?v001">
        <script src="/static/js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <nav id="header" class="clearfix" >
            <a id="nav-logo" class="ir" href="#">Cyclee</a>
            <a id="nav-ride" class="nav-page toggle" href="#">Ride &#187;</a>
            <a id="nav-ride-back" class="hidden" href="#">&#171; Notes</a>
            <span class="nav-toggle nav-back">&#59229;</span>
        </nav>

        <section id="splash" >
            <img alt="Cyclee" src="/static/img/cyclee-logo@3x.png" />
        </section>

        <section id="notes" class="page" >
            <nav class="clearfix" >
                <form id="search" class="hidden" ><input type="search" placeholder="search notes" /></form>
                <a id="nav-notesfilter" class="entypo btn firsttime" href="#">&hearts;<!-- eye: &#59146; --><!-- list: &#57349; --><small>View</small></a>
                    <div class="notesfilter">
                        <p style="padding:.25em 4px; font-size:1.2em">View Notes <a class="close entypo" href="#" onclick="$('#nav-notesfilter').click();" >&#10006;</a></p>
                        <ul>
                            <li class="active-filter">Route Notes</li>
                            <li>Near Here</li>
                            <li>All Notes</li>
                        </ul>
                        <p>
                            <!-- <a id="nav-settings" class="nav-page" href="#" ><span class="entypo">&#9881;</span> Settings</a> -->
                            <a id="nav-intro" class="nav-page" href="#" ><span class="entypo">&#9881;</span> Settings</a>
                            <a id="nav-help" class="nav-page" href="#" ><span class="entypo">&#59140;</span> Help</a>
                        </p>
                    </div>                
            </nav>
            <article class="template">
                <a title="username" href="#" ><img src="http://www.gravatar.com/avatar/?d=mm&s=50" /></a>
                <div class="meta" ></div>
                <p><strong>Welcome to Cyclee!</strong> A network connection is required to view the latest notes.<br /><br /><a href="#" onclick="switchpage('settings');">Set your usual route</a> to view info most relevant to your rides.<br /><br />Drop notes for other people who cross your path.</p>
            </article>
        </section>

        <nav id="primary" class="clearfix" >
            <a id="nav-notes" class="nav-page entypo toggle active" href="#">&#59168;<small>Notes</small></a>
            <a id="nav-addnote" class="nav-page entypo toggle" href="#">&#59160;<small>Post</small></a>
            <a id="nav-people" class="nav-page entypo toggle" href="#">&#128101;<small>People</small></a>
            <a id="nav-notesmap" class="nav-page entypo toggle" href="#">&#127758;<small>Map</small></a>
        </nav>

        <section id="addnote" class="page" >
            
            <p class="notify">Add a Note</p>
            
            <form id="addnote_carto">

                <section class="addnote-info">
                    <label for="noteContent" >Note</label>
                    <textarea id="noteContent" name="noteContent" class="input-info" rows="4" ></textarea>

                    <section class="addnote-location">
                        <!-- <fieldset id="location-start" class="set-location" > -->
                            <!-- <label for="inputStart" class="hidden" >Set Note Location</label> -->
                            <a href="#" id="post-here" class="entypo btn btn-left" >&#127919;<small> Post Here</small></a><a href="#" class="entypo btn btn-right link_location_choose" >&#128269;<small> Choose Location</small></a>
                            <!-- <a href="#" class="entypo btn link_flaglist" >&#9873;<small> Use Flag</small></a> -->
                            <!-- <em class="location-prompt first-visit">&#171; Set Location</em> -->
                            <!-- <input type="text" name="inputStart" class="location debug" placeholder="Address &#187;" disabled /> -->
                        <!-- </fieldset> -->
                    </section>
                    <section class="addnote-reply">
                        <a href="#" id="post-reply" class="entypo btn" >&#59154;<small> Reply</small></a>
                    </section>
                    <!-- <button class="disabled" disabled>Go</button>     -->

                    <a id="tags-toggle" class="closed" ><span class="entypo"><i>&#9656;</i><i style="display:none;">&#9662;</i></span> #hashtags</a>
                    <div id="tags-container" style="display:none;"></div>    
                    <div id="search-hash-container" style="display:none;">
                        <input id="search-hashtags" class="search"  placeholder="search #tags" />
                        <a href="#" class="clearinput entypo" title="press escape">&#10006;</a>
                    </div>
                        <br style="clear:both"/>
                        
                </section>

            </form>
        </section>

        <section id="ride" class="page" >
            <a id="ridehelp" class="help-link hidden" href="#" >&#59141;</a>
            <section id="triggers">
                <a id="ride-toggle" href="#" ><strong class="entypo" >&#9654;</strong><small>Start Ride</small></a>
                <a id="flag-link" href="#"><strong class="entypo" >&#9873;</strong><small>Flag for Note</small></a>
            </section>
            <div id="clock">0:00:00</div>
            <section id="ride-info">
                <p><span id="ride-count">0 rides</span> // <span id="ride-distance">0 miles</span></p>
                <p id="trace-location" class="debug">x,y</p>
                <p id="ride-msg">Drop a <a class="entypo" href="#">&#9873;</a> flag while you ride to <a class="entypo" href="#" onclick="switchpage('addnote');">&#59160;</a>&nbsp;add a note later.</p>
            </section>
        </section>


        <section id="people" class="page clearfix">
            <p class="notify">Cyclist who have crossed your path.</p>
            <section>
                <article class="template">
                    <a title="username" href="#" ><img src="http://www.gravatar.com/avatar/?d=mm&s=50" /></a>
                    <p><em class="username">Loading...</em></p>
                </article>
            </section>
        </section>

        <section id="notesmap" class="page">
            <div id="map" class="mapcontainer"></div>
            <form id="notesmap-filter">
                <select>
                    <option value="bikeshops" >Bike Shops</option>
                    <option value="corides" >Co-Rides</option>
                    <option value="stolen" >Stolen</option>
                    <option value="allnotes" >All Notes</option>
                    <!-- 
                        <option value="commutenotes" >Commute Notes</option>
                        <option>Commute Routes</option>
                        <option>All Routes</option>
                    -->
                </select>
            </form>
        </section>

        <section id="settings" class="page">
            <p class="settings-notice notify">Choose a public username.</p>
            <form><label for="username">Username</label><input class="username" placeholder="username" /><button class="username-save">Save</button></form>

            <p id="commutes-notice" class="notify" >Connect based on your most frequent rides.</p> 

            <div class="commute-form"></div>

            <p class="notify" >Feedback & Help</p>
            <p>Send feedback &amp; bugs to <a class="feedback-addy" href="#" target="_blank">Cyclee</a>.</p>
            <p><a href="#" id="nav-help" class="btn nav-page" >Helpful Info &#187;</a></p>
            <p><a href="#" id="nav-intro" class="btn nav-page" >Repeat Intro &#187;</a></p>

        </section>

        <section id="signup" class="page clearfix">
            <div id="joinTitle"><span class="notify" style="margin-top:0;">Join Cyclee</span> or <a href="#">Login</a></div>
            <div id="loginTitle" style="display:none;"><span class="notify" style="margin-top:0;">Login</span> or <a href="#">Join Cyclee</a></div>

            <!-- p class="notify">Register</p -->
            <form class="register clearfix" method="post" action="">
                <!-- <input type='hidden' name='csrfmiddlewaretoken' value='' /> -->

                <label for="id_username">Username<em class="required">*</em></label> <input id="id_username" type="text" class="required" name="username" maxlength="30" />
                <span id="emailField"><label for="id_email">E-mail<em class="required">*</em></label> <input id="id_email" type="text" class="required" name="email" maxlength="75" /></span>
                <label for="id_password1">Password<em class="required">*</em></label> <input id="id_password1" type="password" class="required" name="password1" />
                <span id="password2Field"><label for="id_password2">Password (again)<em class="required">*</em></label> <input id="id_password2" type="password" class="required" name="password2" /></span>
                <p class="error" style="display:none;"></p>
                <button type="submit" >Send</button>
            </form>
        </section>

        <section id="intro" class="page intro">
            <p class="notify">Welcome to Cyclee</p>
            <p style="margin-top:.25em">In a city of millions, Cyclee helps you connect with your two-wheeled&nbsp;neighbors.</p>
            <p class="settings-notice notify">Choose a Public Username</p>
            <form><label for="username">Username</label><input class="username" placeholder="username" /><button class="username-save">Save</button></form>            
        </section>

        <section id="intro2" class="page intro">
            <p class="notify">Set Your Path</p>
            <p style="margin-top:.25em">See the people and notes that cross your usual&nbsp;routes. <span class="entypo hidden" style="color:rgba(0,0,0,0.1);">&#59160; &#59168; &#59160; &#59160; &#128101; <strong class="firsttime">&#59168;</strong> &#59160;</span></p>
            <div class="commute-form"></div>
        </section>

        <section id="intro3" class="page intro">
            <p class="notify">Connect</p>
            <p style="margin-top:.25em">Share your notes with the people you're most likely to see on the street tomorrow.</p>
            <div id="intro3-content"></div>
            <p><a href="#" id="nav-intro4" class="btn nav-page">Last Step &#187;</a></p>
        </section>

        <section id="intro4" class="page intro">
            <div id="intro4-content"></div>
            <p><a href="#" class="btn" onclick="switchpage('notes');">Start Now &#187;</a></p>
        </section>

        <section id="help" class="page">
            <section class="help-addnote">
                <p class="notify">Add a Note</p>
                <p style="margin-top:.25em"><a class="entypo firsttime" href="#" >&#59160;</a>&nbsp;Add a note. 
                    Place it on your <a class="entypo" >&#127919;</a>&nbsp;current location, 
                    or <a class="entypo" >&#128269;</a>&nbsp;find somewhere else in the city. 
                    Drop a <a class="entypo" href="#" >&#9873;</a>&nbsp;flag during your ride to mark a spot to add a note later. 
                </p>
            </section>
            <section class="help-explore">
                <p class="notify">Explore</p>
                <p style="margin-top:.25em">See <a class="entypo" href="#" >&#128101;</a>&nbsp;people who overlap your route. 
                    View a <a class="entypo" href="#" >&#127758;</a>&nbsp;map of bike shops and more. 
                    <a class="entypo" href="#" >&#57349;</a>&nbsp;Filter &amp; view notes along your route or near you now. 
                    <a class="entypo" href="#" >&#9881;</a>&nbsp;Set your typical ride. 
                </p>
                <p>
                    Return home anytime: &nbsp; 
                    <a href="#" onclick="$('#nav-logo').click();" class="bkg-blue" style="padding:3px 6px 4px; text-decoration:none;" >
                        <span style="font-family:'entypo'; font-size: 1.1em; line-height:1em; color:#f0f;" >&#59229;</span>
                        <img src="/static/img/cyclee-logo-sm.png" style="width:35px; height:13px;" />
                    </a>
                </p>
            </section>
        </section>


        <section id="filters" class="page">
            <p>Filters will allow you to customize the quick view drop-down on notes. For example, search for info around a particular location, #hashtag, or group of people. Help us develop the feature: <a href="http://github.com/cyclee" >github.com/cyclee</a>.</p>
        </section>

        <section id="lastride" class="page">
            <p>Data about the most recent ride(s)</p>
        </section>

        <section id="stats" class="page">
            <p>Stats about rides by you and the community. Help us develop the feature: <a href="http://github.com/cyclee" >github.com/cyclee</a>.</p>
        </section>

        <section id="modal">
        </section>

		<section id="commute" class="page">
		    <p class="notify">Set Your Path</p>
            <p style="margin-top:.25em">See the people and notes that cross your usual&nbsp;routes. <span class="entypo hidden" style="color:rgba(0,0,0,0.1);">&#59160; &#59168; &#59160; &#59160; &#128101; <strong class="firsttime">&#59168;</strong> &#59160;</span></p>
		    
			<form id="commute-locations">
            
                <section id="thecommutes">
                    <section class="commute-path template" >

                        <input class="hidden" name="addressquery" placeholder="zipcode" />
                        <a class="hidden btn" href="#" id="address-lookup">find address</a>
                    
                        <fieldset class="commute-location set-location" >                    
                            <label>Trip</label>
                        
                            <select class="commute_geo1">
                                <option value="-73.9877700805664,40.70042247927176" disabled selected>Select</option>
                                <option value="-73.9877700805664,40.70042247927176">Brooklyn (Mnhtn/Brklyn Bridge)</option>
                                <option value="-73.96305084228516,40.71083299030839">Brooklyn (Willsbrg Bridge)</option>
                                <option value="-73.98931503295898,40.769491796481404">Upper Manhattan (West Side)</option>
                                <option value="-73.963565826416,40.761560925502806">Upper Manhattan (East Side)</option>
                                <option value="-73.99068832397461,40.73555143165807">Union Square</option>
                                <option value="-73.9990997314453,40.72293316385307">Soho</option>
                                <option value="-73.97953033447266,40.724949645619056">Loisaida</option>
                                <option value="-73.98940086364746,40.71720862468233">Lower East Side</option>
                                <option value="-74.01128768920898,40.70852329864894">Wall Street</option>
                                <option value="-74.01643753051758,40.71122335281536">Battery Park</option>
                                <option value="-74.00545120239258,40.73321007823572">West Village</option>
                                <option value="-73.98605346679688,40.75616479199092">Times Sq</option>
                                <option value="-73.94433975219727,40.75219867966512">Queens</option>
                                <option value="-73.92562866210938,40.81796653313175">Bronx</option>
                            </select><br />
                            <input type="hidden" name="commute_geoA" class="location" placeholder="location" value="-73.9877700805664,40.70042247927176" disabled />
                            <a href="#" class="hidden entypo btn link_getlocation" >&#127919;<small>Here</small></a>
                            <a href="#" class="hidden entypo btn link_location_choose" >&#128269;<small>Find</small></a>
                        </fieldset>
                        <fieldset class="commute-location set-location" >                    

                            <select class="commute_geo2">
                                <option value="-73.99068832397461,40.73555143165807" disabled selected>Select</option>
                                <option value="-73.9877700805664,40.70042247927176">Brooklyn (Mnhtn/Brklyn Bridge)</option>
                                <option value="-73.96305084228516,40.71083299030839">Brooklyn (Willsbrg Bridge)</option>
                                <option value="-73.98931503295898,40.769491796481404">Upper Manhattan (West Side)</option>
                                <option value="-73.963565826416,40.761560925502806">Upper Manhattan (East Side)</option>
                                <option value="-73.99068832397461,40.73555143165807">Union Square</option>
                                <option value="-73.9990997314453,40.72293316385307">Soho</option>
                                <option value="-73.97953033447266,40.724949645619056">Loisaida</option>
                                <option value="-73.98940086364746,40.71720862468233">Lower East Side</option>
                                <option value="-74.01128768920898,40.70852329864894">Wall Street</option>
                                <option value="-74.01643753051758,40.71122335281536">Battery Park</option>
                                <option value="-74.00545120239258,40.73321007823572">West Village</option>
                                <option value="-73.98605346679688,40.75616479199092">Times Sq</option>
                                <option value="-73.94433975219727,40.75219867966512">Queens</option>
                                <option value="-73.92562866210938,40.81796653313175">Bronx</option>
                            </select><br />


                            <input type="hidden" name="commute_geoB" class="location" placeholder="location" value="-73.99068832397461,40.73555143165807" disabled />
                            <a href="#" class="hidden entypo btn link_getlocation" >&#127919;<small>Here</small></a>
                            <a href="#" class="hidden entypo btn link_location_choose" >&#128269;<small>Find</small></a>
                        </fieldset>
                    </section>
                </section>

                <button id="commute-more" disabled class="hidden">+Commute</button>    
                <button id="commute-save">Save</button>    

                <!-- <p>Trip saved locally, not shared. Free free to choose a nearby intersection rather than your exact address.</p> -->
            </form>

		</section>
        

        <section id="pastebin" >
        </section>

        <script src="/static/js/vendor/jquery-1.8.3.min.js"></script>
        <script src="/static/js/helper.js"></script>
        <script src="/static/js/vendor/moment.js"></script>

        <script src="/static/js/vars.js"></script>
        <script src="/static/js/auth.js"></script>
        <script src="/static/js/commute.js"></script>
        <script src="/static/js/intro.js"></script>
        <script src="/static/js/ride.js"></script>
        <script src="/static/js/note-add-ui.js?v001"></script>
        <script src="/static/js/hashtags.js"></script>
        <script src="/static/js/note-location.js"></script>
        <script src="/static/js/note-features.js"></script>
        <script src="/static/js/notes-query.js"></script>
        <script src="/static/js/main.js?v001"></script>
        <script src="/static/js/notes-map.js"></script>
        <script src="/static/js/nav.js"></script>
        <script src="/static/js/utility.js"></script>


        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.ie.css" />
        <![endif]-->
        <script src="http://libs.cartocdn.com/cartodb.js/v2/cartodb.js"></script>

        <!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing" type="text/javascript"></script> -->
        

    </body>
</html>
