/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}


/* Remove the gap between images and bottom of containers: h5bp.com/i/440 */
img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/***********
* =color
*
**/

.cyclee-blue { 
	    color:rgb(214,226,238);
	color:rgb(226,232,238);
	    color:rgb(168,186,204);
	color:rgb(180,192,204);
	    color:rgb(117,135,153);
	color:rgb(117,135,153);
	color:rgb(78,90,102);
	color:rgb(31,44,51);
}


/***********
* =splash
*
**/

section#splash {
   display:block;
   position:fixed;
   z-index:20001;
   top:0; width:100%; 
   height:600px; /* resized via js */
   text-align:center;
   background:rgb(31,44,51); /* blue dark */
}
section#splash img {
   margin:180px auto 0;
}




/**************
 * =typography
 *
**/

@font-face {
    font-family: 'entypo';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#entypo') format('svg'),
          url('http://localhost/cyclee-mobile/fonts/entypo.eot?#iefix') format('embedded-opentype'),
          url('http://localhost/cyclee-mobile/fonts/entypo.woff') format('woff'),
          url('http://localhost/cyclee-mobile/fonts/entypo.ttf') format('truetype'),
          url('http://localhost/cyclee-mobile/fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo-social';
    src: url('../fonts/entypo-social.eot');
    src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo-social.woff') format('woff'),
         url('../fonts/entypo-social.ttf') format('truetype'),
         url('../fonts/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}
.entypo { font-family:'entypo'; font-size:40px; line-height:.8em; vertical-align:-4px; }
a.entypo { text-decoration:none; color:rgba(0,0,0,0.5); }
a.entypo:hover { color:#f0f; }
.entypo small { 
    font-size:.35em; 
    vertical-align:4px; 
    }
p em.entypo,
p a.entypo { 
    font-style:normal; color:rgba(0,0,0,0.5); 
    }
p a.entypo:hover, 
p a.entypo:active { 
    color:#f0f;
    background:none;
}



@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');
/*
  font-family: 'Roboto';
  font-style: normal;
  font-style: italic;
  font-weight: 100, 300, 400, 500, 700, 900;
*/

body {
    font-family: 'Roboto', Arial, sans-serif, 'entypo';
    font-weight:100;
    background: url('../img/bkg.jpg') repeat fixed center center;   
    padding-top:38px; /* for menu */ 
}

a,
a:visited {
	color:rgb(31,44,51);
}
a:hover,
a:active {
    color:white;
    background:#f0f;
    text-decoration:none;
}

p { margin-top:.25em; }


/***********
 * =nav
 *
**/

nav a {
    display:inline-block;
    position:relative; /* catch floats */
    padding:4px 2%;
    text-decoration:none;
    color:rgb(78,90,102);
    border-radius:0;
}
nav a.entypo.btn { 
    background:transparent; 
    padding:0 5px .2em;
    text-align:center;
    }

nav a.btn:hover { 
    color:#fff;
    background:rgba(255,0,255,0.5) !important;
    }
nav a.btn:active { 
    color:white; 
    background:#f0f !important; 
    }


nav a.entypo.btn small { /* label */
    display:block;
    bottom:5px; left:0;
    font-size:.15em; line-height:1em;
    text-transform:uppercase;
    font-weight:500;
    text-align:center;
    vertical-align:0;
}




/***********
 * =nav header
 *
**/

nav#header {
    position:fixed; top:0;
    z-index:1003;
    width:100%;
    padding:.75em 0 .5em;
    background:rgb(31,44,51); /* blue dark */
    border-bottom:1px solid #f0f;
}

nav#header a#nav-ride,
nav#header a#nav-ride-back { 
    float:right;
    font-size:.9em;
    margin:6px 12px 0;
    padding:1px 6px;
    border-radius:4px;
    color:white;
}
nav#header a {
    background:rgba(255,255,255,0.2);
}
nav#header a:active,
nav#header a:hover { 
    background:#f0f;
    }
nav#header a.active { 
    background:rgba(255,255,255,0.2);
    }


/***********
 * =nav logo
 *
**/

nav#header a#nav-logo {
    float:left;
    margin-left:10px;
    padding:6px 10px;
    width:70px;
    background:rgb(31,44,51) url('../img/cyclee-logo-sm.png') no-repeat center center; 
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  nav#header a#nav-logo {
      background-image:url('../img/cyclee-logo@3x.png'); 
      background-size: 70px 26px;
  }
}

/* back arrow */
nav#header .nav-toggle { 
    position:absolute;
    top:11px; left:6px;
    font-family:'entypo'; 
    font-size:2.2em; line-height:1em;
    color:rgba(255,255,255,0.8); 
    color:#f0f;
    }
nav#header .nav-back {
    display:none;
    }



/***********
 * =nav primary
 *
**/


#primary {
    position:fixed; z-index:10001; 
    bottom:0; right:20px; 
    border:1px solid rgba(204,204,204,0.8); 
    border-radius:2px 2px 0 0;
    border-bottom:1px solid #f0f;
    padding:.25em 20px .25em;
    box-shadow:1px 1px 1px rgba(0,0,0,0.3);
    background:rgba(255,255,255,0.8); 
}

#primary a.entypo.btn { 
    margin-right:.1em; 
    font-size:4em;
}

#primary a.entypo.btn.active { 
	color:rgb(180,192,204);
    }



/***********
* =nav notes
*
**/

#notes nav {
    width:100%;
    text-align:right;
}

#notes nav a.btn {
    font-size:3em;
}

#notes nav a.btn.active,
#notes nav a.btn:active { 
    background:#f0f;
    color:white !important;
}  



/***********
 * =forms
 *
**/

form { 
    position:relative; /* catch floats */
    }
label { 
    display:block; 
    text-transform:uppercase;
    font-size:.7em;
    font-weight:600;
	color:rgb(117,135,153);
    letter-spacing:1px;
    }

input, textarea { 
    margin-bottom:.5em; 
    border:1px solid #ccc;
    width:80%;
    font-size:1.2em;
    }

form a.clearinput { /* clear field js */
    display:block;
    float:left;
    position:relative;
    padding:0; 
    margin:.22em 0 0 -.6em;
    font-size:3em;
    line-height:.25em;
    text-decoration:none; 
    color:#ccc !important;
    background:none !important;
}
form a.clearinput:hover,
form a.clearinput:active,
form a.clearinput:hover,
form a.clearinput:active {
    color:#f0f;
}

#notes form#search input { 
    float:left; 
    margin-top:8px;
    }


/***********
 * =set-location fieldset
 *
**/

fieldset.set-location input {
    width:30%;
}


/***********
 * =settings
 *
**/

#settings form { margin-bottom:1em; }

form#commute-locations select {
    margin:.25em 0 .5em;
}


/***********
 * =modal
 *
**/

#modal {
    display:none;
    position:absolute;
    text-align:center;
    color:white;
    z-index:1010;
}

#modal.msg {
    margin:10px 0; width:90%;
    padding:1em 5%;
    background:rgba(0,0,0,0.5);    
    background:rgba(31,44,51,0.75);
    border-radius:0;  
    top:60px;
}

#modal p.notify {
    float:left;
    margin:2px;
    padding:.5em 10px;
}

 
#modal.msg a.close {  
    display:block; position:absolute;
    top:5px; right:5px;
    line-height:.25em;
    padding:0; margin:0;
    color:white; 
    text-decoration:none;
    font-size:50px;
    background:none !important;
}


/***********
* =maps
*
**/

.mapcontainer {
    width:99%; 
    height:95%; 
    margin:0;
    }    



/***********
* =map modalmap
*
**/

#modal.modalmap  { 
    top:0; margin:0; width:100%; height:100%; padding:0; border:0;
    background:#eee;
    overflow:hidden;
    }
.map-buttons { 
    text-align:right; 
    float:left; margin-left:2px;
    padding-top:6px; /*match paragraph*/
     }
.map-buttons a { 
    display:inline-block; 
    margin:0 2px;
    padding:2px 4px; 
    font-size:1.1em; 
    background:#f0f; 
    color:white; 
    /*box-shadow:1px 1px 4px rgba(0,0,0,0.3); */
    border-radius:2px; 
    text-decoration:none; 
    }
.map-buttons a:hover,
.map-buttons a:active { 
    background:#f0f; 
    background:black; 
    }


/***********
* =notesmap
*
**/

section#notesmap { 
    height:99%;
    padding:5px 0;
    padding:0;
    margin:15px 0 0;
    box-shadow:none;
}

div#map.mapcontainer { /* should this just be modalmap as well? */
    height:510px; /* should sniff this for both div#map and modal */
    }

/*div#map,
iframe#thenotesmap {
    height:510px;
    width:99%;
    margin:0;
}
*/
section#notesmap form#notesmap-filter {
    position:absolute;
    top:20px;
    right:10px;
    padding:3px;
    background:rgba(255,0,255,0.3);
    /*box-shadow:1px 1px 4px rgba(0,0,0,0.4);*/
    border-radius:2px;
}

form#notesmap-filter select {
    /* should this be full width above the map?? */
}


/***********
 * =pages
 *
**/

section.page {
    position:relative; /* catch floats */
    background:white;
    margin:22px 10px;
    min-height:350px;
    padding:10px 10px 35px;
    display:none;
    border-radius:2px;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);
}


#ride img {
    display:block; 
    margin:0 auto;
}
   

/***********
 * =btn
 *
**/

a.btn { 
    display:inline-block;
    margin:0 2px;
    padding:6px 4px;
    color:rgb(78,90,102);
    background:#eee; 
    
    background:rgb(226,232,238);
    
    border-radius:4px;
    text-decoration:none;
    }
    
a.btn:hover { 
    background:rgb(78,90,102); color:white !important; 
    }
a.btn:active { 
    background:#f0f; color:white !important;  
    }

a.entypo.btn {
    line-height:.7em;
    padding:1px 4px 0;
    margin:0 1px;
}

/***********
 * =utility
 *
**/

.bkg-blue {  background:rgb(31,44,51) !important; } /* blue dark */

.firsttime {
    color:#f0f !important;
}

p.notify {
    display:inline-block;
    padding:.2em 10px;
    margin:1em 10px .5em -10px;
    background:#000;
    background:rgb(31,44,51);
    color:white;
}
.notify-footer { /* <p> or <a> */
    position:fixed; bottom:0; 
    width:100%; margin:0 -10px; padding:.5em 10px;
    background:#f0f;
    color:white;
    text-decoration:none;
}
p.notify a,
a.notify-footer {
    color:white;
 }
 
 
a.refresh {
    float:right; 
    margin:-5px 0 0 5px;
    padding:0 4px;
    text-decoration:none; 
}

section,article,div,a {
    border-radius:2px;
}

button {
    display:inline-block;
    background:#f0f;
    color:white;
    border:0;
    padding:4px; margin:0 2px;
    border-radius:2px;    
}
button:hover {
    background:black;
}
button:disabled {
    background:#ccc;
    /*opacity:0.3;*/
}


a.disabled {
    cursor:default !important;
    color:#aaa !important;
}

p.border-top { border-top:1px solid #eee; padding-top:.25em; }

#pastebin {
    display:none;
}

.debug {
    display:none;
}


/***********
 * =notes
 *
**/


section#notes { 
    display:block;
    background:none;
    box-shadow:none;
    padding:0 0 25px;
}
 
article {
    clear:both;
    background:white;
    min-height:50px;
    margin:.5em 0px 1em;
    padding:.75em 14px 1.25em 7px;
    border-radius:2px;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
}
#people article { clear:none; }
article img {
    display:inline-block; float:left;
    height:50px; width:50px;
    background:#eee;
    margin:4px 10px 10px 0;
}
article p {
    margin:0 20px 0 70px;
    line-height:1.5em;
}
article p+p { margin-top:1em; }

article em {
    text-transform:lowercase;
    font-variant:small-caps;
    font-style:normal;
    background:rgb(117,135,153);	
    color:white;
    font-size:.9em;
    line-height:1em;
    padding:0 3px 1px;
    margin-right:.25em;
    border-radius:2px;
}
article em.username {
    color:rgb(31,44,51); 
    background:rgb(226,232,238);
}


article div.meta {
    text-align:right;
    float:right;
}
article time {
    font-size:.8em;
    text-transform:uppercase;
    color:rgba(0,0,0,0.5);
    display:none;
}
article div.meta a.entypo { 
    font-size:2.5em;
    margin:0 0 0 8px; padding:0 4px; 
    vertical-align:-3px;
    color:rgba(0,0,0,0.2);
}
article div.meta a.entypo:hover, 
article div.meta a.entypo:active { 
    color:white;
    background:#f0f;
}


/***********
 * =notes filter
 *
**/

.notesfilter {
    display:none;
    position:absolute;
    top:40px;
    width:80%;
    margin:0 10%;
    padding:.25em 5px;
    background:rgba(0,0,0,0.5);
    background:rgba(255,255,255,0.9);
    border-radius:2px;    
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);
    text-align:left;
}
.notesfilter p {
    margin:.25em 0;    
}
.notesfilter ul, .notesfilter li { 
    list-style:none; padding:0; margin:0;
    }
.notesfilter li { 
    margin:.25em 0; 
    padding:5px 8px;
    background:rgba(78,90,102,0.9);
    border-left:10px rgba(31,44,51,1) solid;
    border-radius:2px;
    color:white;
    }
.notesfilter li:hover { background:rgba(31,44,51,1); cursor:pointer; }
.notesfilter li.active-filter { 
    border-color:#f0f;
}

.notesfilter a.close {
    float:right;
    color:#ccc !important;
    background:none !important;
    margin:-10px -8px 0 0;
}


/***********
 * =note details
 *
**/

#modal.notedetail {
    padding-top:1.5em;
    padding-bottom:1.5em;
    text-align:left;
}
#modal.notedetail img {
    border:5px solid white;
    border-radius:2px;
}
#modal.notedetail article time,
#modal.notedetail article div.location {
    color:white;
    margin-right:15px;
}
#modal.notedetail article time {
    padding-top:1em;
}

#modal.notedetail p {
}



/***********
 * =addnote
 *
**/

    /* =addnote layout */

section#addnote {
    display:none;
    background:transparent;
    padding:0 0 45px;
    border-radius:0;
    box-shadow:none;
}
section#addnote section {
    position:relative; /* catch nav */
    background:white;
    padding:10px;
    border-radius:2px;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);
}

section.addnote-info {
    opacity:0.3;
    overflow:hidden;
}
section.addnote-location {
    margin-bottom:52px; /* for nav */
    margin-bottom:1em;
}

    /* =addnote form */

section#addnote form {}

em.location-prompt {
    font-style:normal;
    color:#f0f;
    margin-left:10px;
    vertical-align:2px;
    display:none;
}
em.location-prompt.first-visit { 
    display:inline-block;
}
em.location-prompt.disabled {
    color:#ccc;
}



fieldset#location-end {
    display:none;
    margin-top:.5em;
}

.addnote-info button {
    float:right;
    margin:0 0 0 5px;
    font-size:1.2em;
    padding:4px;
}



    /* =addnote links */

section#addnote nav a,
section#addnote nav a:visited {
    font-family:'entypo';
	color:rgb(117,135,153);
}
section#addnote nav a:hover,
section#addnote nav a:active { 
    color:#f0f; 
    }

    /* =addnote nav */

section#addnote nav {
    background:#fff;
}
.addnote-location nav {
    position:absolute;
    bottom:-35px;
    border-radius:2px;
    box-shadow:1px 4px 3px rgba(0, 0, 0, 0.1);
}
.addnote-info nav {
    margin-top:-45px; 
    margin-top:-45px; 
    float:right;
    border-radius:2px;
    box-shadow:1px -4px 3px rgba(0, 0, 0, 0.1);
}

section#addnote nav a {
    width:20px; float:right;
    background:white;
    height:32px;
    padding:2px 10px 0;
    margin:0;
    font-size:38px;
    display: block;
	color:rgb(117,135,153);
    text-align:center;
    border:2px solid #ddd;
    background:rgb(226,232,238);
}
section#addnote nav a.active { 
    border-top-width:0;
    border-width:0 1px;
    background:#fff;
}
section#addnote .addnote-location nav a { border-width:1px 0 0; }
section#addnote .addnote-location nav a.active { border-width:0 1px; }
section#addnote .addnote-info nav a { border-width:0 0 1px; }
section#addnote .addnote-info nav a.active { border-width:0 1px; }


section#addnote .addnote-info nav a#link-hashtag {
    font-size:26px; 
    }

section#addnote .addnote-location nav a#link-path { 
    background-image:url('../img/icon-path.png');
    background-repeat:no-repeat;
    background-position:top center;
    }
section#addnote .addnote-location nav a#link-path:hover { 
    background-position:bottom center;
    }


/***********
 * =people
 *
**/

section#people {
    background:none;
    box-shadow:none;
    padding:0 0 35px 0;
}

#people article { 
    float:left; 
    margin:.5em 20px .5em 0; 
    padding:5px; 
}


/***********
 * =hashtags
 *
**/

#tags-container {
    clear:both;
}

#tags-container a {
    display:inline-block;
    color:white;
    text-decoration:none;     
	background:rgb(180,192,204);
    border-radius:5px;
    margin:5px 5px 5px 0;
    padding:3px 6px;
    font-weight:100;
}
#tags-container  a:hover,
#tags-container  a:active {
    background:#f0f;    
}
#tags-container  a.selected {
	color:rgb(31,44,51);
    background:rgb(226,232,238);
}







/***********
* =ride
* =flag
*
**/

#ride {
    background:none;
    box-shadow:none;
    border:0;
}

#ride-info { 
    text-align:center;
    }


/***********
 * =clock
 *
**/

#clock { 
    font-size:5em;
    font-weight:600;
    text-align:center;
    color:rgba(255,0,255,0.5);
    }


/***********
 * =ride triggers
 *
**/

#triggers {
    position:fixed;
    bottom:0;
    border-radius:0;
    margin:0 -20px;
    width:96%;
    padding:0 2% 5px;
    height:130px;
}
#triggers a {
    position:relative; float:left;
    width:46%; margin:0 2%; 
    padding:10px 0;
    height:110px;
    text-align:center;
    text-decoration:none;
    color:white;
    border-radius:5px;
    background:rgb(31,44,51); /* blue dark */
    }
    
#triggers a:hover {
    background:rgba(255,255,255,0.1);
    background:rgba(31,44,51,0.5); /* blue dark */
    
} 
#triggers a:active {
    color:#fff;
    background:#f0f;
} 
#triggers a .entypo {
    display:block;
    line-height:.5em;
    }
#triggers a .entypo.active {
    color:#f0f;
}

#triggers a#ride-toggle .entypo {   
    font-size:200px;  
/*    border-right:2px solid rgba(255,255,255,0.2);*/
}
#triggers a#flag-link .entypo {
    font-size:150px;
    margin-top:10px;
}
#triggers a small {
    position:absolute;
    width:100%;
    bottom:7px; left:0;
    font-size:10px;
    text-transform:uppercase;
    font-weight:500;
    color:rgba(255,255,255,0.6);
}




/***********
 * =carto css
 *
**/

div.cartodb-popup {
    text-align:left;
}

/***********
* =tempates
*
* for js clone
**/

.template { display:none; }
#people article.template { display:block; }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}


#signup label, #signup input, #signup button, #signup p {
	float:left;
	clear:left;
}

#signup p.error {
	color:red;
}
